
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-image-hero{
    background-image: url("../assets/intro.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.bg-image-card-food{
    background-image: url("../assets/sushi.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

   
        
    }


.bg-image-card-noodle{
    background-image: url("../assets/noodle.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.bg-image-card-drink{
    background-image: url("../assets/drink.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}


